

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.answer {
    background-color: #7f7f7f;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;

}
.answer:hover {
    background-color: aqua;
}